.input_wrapper {
    min-width: 320px;
    width: 100%;
    height: 35px;
    border: 1px solid rgb(230, 235, 241);
    border-radius: 7px;
    display: inline-flex;
    padding: 0 5px;
    font-size: 14px;
    background-color: #fafafb;
}
.input_wrapper input{
    background-color: #fafafb;
    outline: none;
    height: 30px;
    width: 100%;
}
