.aside_main_wrapper {
    flex: 0 0 250px;
    max-width: 250px;
    min-width: 250px;
    width: 250px;
    height: calc(100vh - 70px);
    position: fixed;
    top: 75px;
    z-index: 999;
    background-color: #eaeaea;
    box-shadow: 0 1px 4px -1px #02020254;
}
